*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

lib-cov
coverage/
node_modules/
.env
!src/__tests__/__stubs__/.env

/index.js
/index.d.ts
.idea
dist
certs

# bundle
.tsbuildinfo
packages/**/*.d.ts
packages/**/*.js


# example
# packages/example
stripe